<head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto" rel="stylesheet"> 

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>

<div class="centerdiv">
<h1 id="ad-hoc-voice-query-application-synchrony"><i class="fas fa-microphone-alt"></i> Ad-hoc Voice Query Application <i class="fas fa-database"></i></h1>
<h2 id="capstone-ii-project">Capstone II Project</h2>
<p>Source: <a href="https://bitbucket.org/cps491s19-team1/cps491-scrum-team1.git">https://bitbucket.org/cps491s19-team1/cps491-scrum-team1.git</a></p>
<p>Live: <a href="https://cps491-team1.myvano.com:8080/">https://cps491-team1.myvano.com:8080/</a> (Username: dev, Password: 491squad)</p>
<p>University of Dayton </p>
<p>Department of Computer Science</p>
<p>CPS 491 - Capstone II, Spring 2019</p>
<p>Instructor: Dr. Phu Phung</p>
<h1 id="team-members">Team Members</h1>
<ol>
<li>Vince Belanger, <a href="mailto:belangerv1@udayton.edu">belangerv1@udayton.edu</a></li>
<li>Gustavo Van Overberghe, <a href="mailto:vanoverbergheg1@udayton.edu">vanoverbergheg1@udayton.edu</a></li>
<li>Stephanie D’Souza, <a href="mailto:dsouzas1@udayton.edu">dsouzas1@udayton.edu</a></li>
<li>Ryan Farrar, <a href="mailto:farrarr1@udayton.edu">farrarr1@udayton.edu</a></li>
</ol>
<h1 id="overview">Overview</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/vjNlH2f9V5o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>The below diagram is a visualization of the data flow for in the final version of our project. Each layer is represented here which includes the users vocal input, the reception of that audio by a machine, the translation of that voice to text through an API call. Following this, the text will be analyzed by a Natural Language Processor with the intent to pull out key words to formulate a query. The query will then be sent through web hooks to a database that the information will be pulled from. </p>
<p><img src="proposal/images/VQL2.jpg" alt="VQL Diagram" title="VQL Diagram" width=1000px></p>
<p>Figure 1 - Overview of sequence of the VQL </p>
<h1 id="project-context-and-scope">Project Context and Scope</h1>
<p>Using an existing voice-to-text library, we will develop an ad-hoc voice query program that allows users to retrieve financial information from various sources by speaking to the program. We plan to develop for a web environment at first, and if we are on track for the semester we will also develop a mobile application.</p>
<p>Synchrony expressed interest in a possible final solution called a “voice query language”, which would be a detailed mapping of English words to SQL, essentially becoming a query language of its own. This is not a part of our project’s scope, but we hope to build the foundations for such a system in the event that Synchrony wishes to develop a full-fledged “Voice Query Language” based on our work.</p>
<h1 id="acknowledgements">Acknowledgements</h1>
<p>Thank you to Synchrony and our mentors for their help in this project.</p>
</div>
