html,body{
	background-color: #006080;
	text-align: center;
	margin: auto;
    	font-family: 'Roboto', sans-serif;
}

h1 {
	
    font-family: 'Libre Baskerville', serif;
}

.centerdiv{
	text-align: left;
	margin: auto;
	display: block;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 20px;
	background-color: #FFF;
	width: 80%;
	border-radius: 20px;
}
